@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url(fonts/inconsolata-v16-latin-regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'), url(fonts/playfair-display-v13-latin-regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: local('Ubuntu Light'), local('Ubuntu-Light'), url(fonts/ubuntu-v11-latin-300.woff2) format('woff2');
}

body {
	width: 100%;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: #b4ad9e;
}

a:hover {
	text-decoration: underline;
	text-decoration-color: #8fbc8f;
	color: #8fbc8f;
}

button:hover {
	border: 2px solid #8fbc8f;
	background-color: #eff5ef;
	color: #8fbc8f;
	text-decoration: none;
}

header {
	max-width: 1060px;
	margin: 70px auto 85px auto;
	padding: 0 10px;
}

nav a {
	padding-left: 120px;
	padding-top: 10px;
}

.logoNav h1,
.logoNav a {
	margin: 0;
	float: left;
}

.navRight {
	float: right;
}

.clearfix {
	clear: both;
}

h1 {
	font: bold 36px Inconsolata, monospace;
	font-variant: small-caps;
	letter-spacing: 5px;
}

nav a {
	font: bold 20px 'Playfair Display', serif;
	font-variant: small-caps;
	color: #626262;
}

h4 {
	font: bold 20px Ubuntu, sans-serif;
	font-variant: small-caps;
	color: #b4ad9e;
}

h2 {
	font: bold 30px 'Playfair Display', serif;
	color: #626262;
}

p {
	font: bold 14px 'Playfair Display', serif;
	color: #626262;
	line-height: 1.8em;
}

.loadMore {
	font: bold 20px 'Playfair Display', serif;
	color: #626262;
}

footer {
	font: bold 14px 'Playfair Display', serif;
	color: #000;
}

.mainImage {
	width: 100%;
	max-width: 1060px;
	margin: 0 auto;
	display: block;
}

.mainPost {
	width: 100%;
	max-width: 900px;
	margin: 95px auto 0 auto;
}

.mainPost h4,
.mainPost h2,
.mainPost p {
	padding: 0 20px;
}

.mainArticle {
	margin-bottom: 135px;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.smallPost {
	width: 100%;
	max-width: 420px;
	margin: 0 30px;
	display: inline-block;
	text-align: left;
}

.row {
	margin-bottom: 120px;
}

.image {
	height: 280px;
	width: 420px;
}

article.signUp {
	position: relative;
	background-color: #f0f0f0;
	height: 285px;
	margin-bottom: 150px;
	padding: 35px 0px;
	text-align: center;
	box-sizing: border-box;
}

input {
	font: bold 14px 'Playfair Display', serif;
	color: #626262;
	padding-top: 50px;
	width: 350px;
}

input[type=email] {
	border: none;
	outline: none;
	background-color: #f0f0f0;
}

.line {
	width: 390px;
	border-top: 1.2px solid;
}

.flash {
	border: 3px solid;
	border-radius: 5px;
	height: 60px; 
	width: 300px;
	position: fixed;
	bottom: 50%;
	right: 10px;
}

.flash p {
	font-variant: small-caps;
	font-size: 1em;
	line-height: 0.8em;
}

.green {
	border-color: #8fbc8f;
	background-color: #eff5ef;
}

.green p {
	color: #8fbc8f;
}

.red {
	border-color: #ff6633;
	background-color: #ffece6;
}

.red p {
	color: #ff6633;
}

button {
	background-color: #ffffff;
	border: 1.2px solid #626262;
	border-radius: 3px;
	height: 60px;
	width: 160px;
	display: block;
	margin: 0 auto 200px auto;
	outline: none;
}

footer {
	background-color: #f0f0f0;
	height: auto;
	min-height: 100px;
	line-height: 100px;
	margin-top: 500px;
	padding-left: 150px;
	padding-right: 70px;
}

.footerItems {
	display: inline-block;
}

footer a,
footer span {
	color: #000;
	padding: 10px;
}

.follow {
	float: right;
}

@media (max-width: 992px) {
	nav a {
		padding-left: 80px;
	}
    .leftPost {
		margin-bottom: 100px;
 	}
}

@media (max-width: 768px) {
	.logoNav h1 {
		margin-bottom: 20px;
		margin-left: 3px;
	}
	nav a {
		padding-left: 0;
	}
	.navRight {
		display: grid;
	}
	.logoNav h1,
	.navRight,
	footer,
	footer .follow {
		float: none;
		text-align: center;
		width: 100%;
		padding: 0;
	}
}
